/* --- Slider Section --- */
.slider-section {
  padding: 20px 0;
  background: #fff;
}
.swiper {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  background: #a30909;
  opacity: 1;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 0px;
  border-radius: 50%;
  backdrop-filter: blur(4px);
}
@media (max-width: 768px) {
  .swiper-slide {
    aspect-ratio: 3 / 2;
  }
}
@media (max-width: 480px) {
  .swiper-slide {
    aspect-ratio: 4 / 3;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding: 8px;
  }
}